/*.header-img {width: 100%;max-height:900px;}*/
header {background-image:url('../newImages/SHADO-MAINBACKGROUND-homepage.png');background-size:cover;background-repeat: no-repeat;min-height:900px;background-position: center;}
header h1 {position:relative; top: 20rem; text-align: left; padding-left: 150px}
hr {position: absolute;
    top: 37.5rem;
    text-align: left;
    height: 121px;
    width:100%;
    background-color: #ffff;
    opacity: 0.4;}
a {font-size: 28px}
.section-fitness {background-image:url('../newImages/SHADO-PURPLE-BLOCK-1.png');background-size: 100% 100%;background-repeat: no-repeat;min-height:550px;}
.section-success {background-image:url('../newImages/SHADO-GREEN-BLOCK-2.png');background-size: 100% 100%;background-repeat: no-repeat;min-height:550px;}
.section-stories {background-image:url('../newImages/SHADO-RED-BLOCK-3.png');background-size: 100% 100%;background-repeat: no-repeat;min-height:550px;}
.section-shop {background-image:url('../newImages/SHADO-BLACK-BLOCK-4.png');background-size: 100% 100%;background-repeat: no-repeat;min-height:550px;}
.section-footer {background-image:url('../newImages/SHADO-FOOTER-background.png');background-size: 100% 100%;background-repeat: no-repeat;min-height:550px;}
/*#lm-arrow {position:relative;top: 165px;left:35%;opacity:0.7;}*/
#lm-arrow {position:relative;display:block;margin-left:auto;margin-right:auto;top:80px;opacity:0.7;}
.lm-lnk {position:relative; top: 135px;text-align: center;display: block;color: white; text-decoration:none;z-index:2;}
#phone-demo {position:absolute; max-height: 650px;right: 150px;top: 165px;}
.gt-lnk {position:absolute; top:56rem;right: 50rem;color: white; text-decoration:none;z-index:2;}
#gt-arrow {position:absolute; top:54rem; right: 42rem;z-index:1;opacity:0.7}
/*navigation*/
* { box-sizing:border-box }
*:before, *:after { box-sizing:inherit }

/* Basic styles */
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: @font-family-base;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #f7f7f7;
}

a { text-decoration: none }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    margin-top: 10rem;
    text-align: center;
}
/* Header styles */
* { box-sizing:border-box }
*:before, *:after { box-sizing:inherit }

/* Basic styles */
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: @font-family-base;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #f7f7f7;
    margin:0px
}

a { text-decoration: none }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    margin-top: 10rem;
    text-align: center;
}
/* Header styles */
/*header {height: 10px;background:black;}*/



@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
	background: #212121;
	font-size:22px;
	line-height: 32px;
	color: #ffffff;
	margin: 0;
	padding: 0;
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
	}

h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	

h3 {
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	line-height: 70px;
	font-family: 'Bree Serif', 'serif';
	}

#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
/*	background-color: #231f20;*/
    height: 100px
}

#logo {
	display: block;
/*	padding: 0px 30px;*/
    padding: 15px;
	float: left;
	font-size:20px;
	line-height: 60px;
    cursor:pointer;
}

#logo img {
    margin-top: -15px;
    width:250px
}
/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding-top:5px;
	margin:0 125px;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
/*	background-color: #231f20;*/
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:#5f6062;
	font-size:17px;
    font-weight:750;
	text-decoration:none;
}


/*nav ul li ul li:hover { background: #000000; }*/

/* Background color change on Hover */
nav li a:hover { 
    border: 2px solid #ffffff;
/*	background-color: #000000; */
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}
    

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: #254441;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000000;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}



